@import url(./form.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Catamaran', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
}

.main-container {
  width: 100%;
  max-width: 75rem;
  height: 80vh;
  display: flex;
  background-color: #202024;
  border-radius: 0.5rem;
  overflow: hidden;
}

.appointment-form {
  flex: 0 0 60%; 
  padding: 2.5rem;
  overflow-y: auto; 
  border-right: 1px solid #323238;
}

.schedule-sidebar {
  flex: 0 0 40%;
  padding: 2.5rem;
  background-color: #29292e;
  overflow-y: auto;
}